<div class="wrapper">
    <h1>New Game</h1>
    <mat-divider></mat-divider>

    <!--
        STEP 1 : SELECT PLAYERS
     -->
    <mat-card>
        <div class="row">
            <div class="col">
                <h2>Select your players</h2>
            </div>
            <div class="col">
                <button mat-icon-button aria-label="Edit players list" class="icon" style="color: grey;" (click)="openEditPlayerDialog()">
                    <span class="material-icons">edit</span>
                </button>
            </div>
        </div>
        <div class="row">
            <mat-form-field appearance="fill" class="selector" style="width: 100%;">
                <mat-label>Players</mat-label>
                <mat-select [formControl]="players" [compareWith]="comparePlayersObj" multiple (selectionChange)="playerSelected()">
                    <mat-option *ngFor="let player of playerList" [value]="player">{{player.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>

    <!--
        STEP 2 : ALLOCATE SEATS
     -->
    <mat-card *ngIf="allSelected">
        <div class="row">
            <div class="col">
                <h2 col-sm>Player's seating</h2>
            </div>
            <div class="col">
                <button mat-raised-button aria-label="Unseat all players" color="warn" class="icon" (click)="this.resetSeat();">
                    <span class="material-icons">restart_alt</span> Unseat all players
                </button>
            </div>
        </div>
        <mat-grid-list cols="3" rowHeight="18vh" class="game-table">
            <!-- LEFT -->
            <mat-grid-tile [colspan]="1" [rowspan]="3">
              <span class="dealer-btn">東</span>
              <mat-form-field appearance="fill" class="selector">
                <mat-label>Player</mat-label>
                <mat-select [formControl]="playerSeatL" (selectionChange)="playerSeatSelected($event.value, 'LEFT')">
                    <mat-option *ngFor="let player of playerSeatListL" [value]="player">{{player.name}}</mat-option>
                </mat-select>
                <button *ngIf="this.playerSeatL.value" (click)="removePlayerSeat(this.playerSeatL.value, 'LEFT');"
                        mat-icon-button matSuffix aria-label="Remove player" class="remove-player-btn">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-grid-tile>
            <!-- TOP -->
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <span class="dealer-btn">東</span>
              <mat-form-field appearance="fill" class="selector">
                <mat-label>Player</mat-label>
                <mat-select [formControl]="playerSeatT" (selectionChange)="playerSeatSelected($event.value, 'TOP')">
                    <mat-option *ngFor="let player of playerSeatListT" [value]="player">{{player.name}}</mat-option>
                </mat-select>
                <button *ngIf="this.playerSeatT.value" (click)="removePlayerSeat(this.playerSeatT.value, 'TOP');"
                        mat-icon-button matSuffix aria-label="Remove player" class="remove-player-btn">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-grid-tile>
            <!-- RIGHT -->
            <mat-grid-tile [colspan]="1" [rowspan]="3">
              <span class="dealer-btn">東</span>
              <mat-form-field appearance="fill" class="selector">
                <mat-label>Player</mat-label>
                <mat-select [formControl]="playerSeatR" (selectionChange)="playerSeatSelected($event.value,'RIGHT')">
                    <mat-option *ngFor="let player of playerSeatListR" [value]="player">{{player.name}}</mat-option>
                </mat-select>
                <button *ngIf="this.playerSeatR.value" (click)="removePlayerSeat(this.playerSeatR.value, 'RIGHT');"
                        mat-icon-button matSuffix aria-label="Remove player" class="remove-player-btn">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-grid-tile>
            <!-- CENTER -->
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button mat-raised-button aria-label="Shuffle players position" color="primary" class="icon" (click)="randomSeat()">
                <span class="material-icons">shuffle</span> Random seat / oya
              </button>
            </mat-grid-tile>
            <!-- BOTTOM -->
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <span class="dealer-btn">東</span>
              <mat-form-field appearance="fill" class="selector">
                <mat-label>Player</mat-label>
                <mat-select [formControl]="playerSeatB" (selectionChange)="playerSeatSelected($event.value, 'BOTTOM')">
                  <mat-option *ngFor="let player of playerSeatListB" [value]="player">{{player.name}}</mat-option>
                </mat-select>
                <button *ngIf="this.playerSeatB.value" (click)="removePlayerSeat(this.playerSeatB.value, 'BOTTOM');"
                        mat-icon-button matSuffix aria-label="Remove player" class="remove-player-btn">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    <button *ngIf="allSelected" mat-raised-button aria-label="Start" color="accent" class="icon start-btn">
        <span class="material-icons">play_arrow</span> <b>Start</b>
    </button>
</div>
