<h2>Player Management</h2>

<button mat-icon-button aria-label="Close Dialog" style="float: right;" (click)="closeDialog();">
  <mat-icon>close</mat-icon>
</button>
<button mat-raised-button aria-label="Select Player"
        id="select-player-btn" class="icon" color="primary"
        (click)="selectedPlayer();" style="float: right; margin: 0 0.5%;"
        [disabled]="this.selectedPlayerList.size !== MAX_PLAYER">
  <span class="material-icons">check</span> Select Players
</button>
<button mat-raised-button aria-label="Add Player" class="icon"
        style="float: right;" (click)="addPlayer();">
  <span class="material-icons">add_circle_outline</span> Add Player
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let player"> {{player.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let player; let i = index">
      <div *ngIf="i === editRowId">
        <mat-form-field appearance="standard">
          <mat-label>Player name</mat-label>
          <input matInput [formControl]="nameFormControl"
                 (click)="$event.stopPropagation()" autofocus required>
        </mat-form-field>
      </div>
      <span *ngIf="i !== editRowId">{{ player.name }}</span>
    </td>
  </ng-container>

  <!-- Last Played Column -->
  <ng-container matColumnDef="lastPlayed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Played </th>
    <td mat-cell *matCellDef="let player"> {{formatDate(player.lastPlayed)}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let player; let i = index;">
      <button mat-icon-button aria-label="Edit"
              (click)="editPlayer($event, player, i)" [hidden]="i === editRowId">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Save"
              (click)="savePlayer($event, player, i)" [hidden]="i !== editRowId">
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="dataSource.data.length > 4" mat-icon-button aria-label="Delete"
              (click)="deletePlayer($event, player, i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.selected-player]="selectedPlayerList.has(row)"
      (click)="selectPlayer(row);"></tr>
</table>

<mat-paginator [pageSizeOptions]="[8, 16]" showFirstLastButtons></mat-paginator>
