<div class="background center">
  <mat-card class="card" [class.mat-elevation-z8]="true">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col left">
        </div>
        <div class="col-7 right">
          <login-form *ngIf="!isRegister"></login-form>
          <register-form *ngIf="isRegister" [isRegister]="isRegister" (closeRegister)="toggleRegister()"></register-form>

          <p *ngIf="!isRegister" (click)="toggleRegister()">Register</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
