@import "../../../variables";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 3vmax;
  text-align: center;
}

.close {
  position: absolute;
  right: 50px;
}

.form {
  margin-top: 30px;
  flex-direction: column;
  flex-wrap: wrap;

  mat-form-field, .submit-button {
    width: 70%;
  }

  .submit-button {
    padding: 5px;
  }
}
